.botao-fechar-tela{
   -fx-background-color: white;
   -fx-background-radius: 10;
}

.botao-editar{
   -fx-background-color: #5DFF75;
   -fx-background-radius: 10;
}

.botao-deletar{
   -fx-background-color: red;
   -fx-background-radius: 10;
}

